.env
config.json
credentials.yaml
api_keys.py

*.csv
*.xlsx
*.parquet
*.pkl
*.joblib
data/
logs/
results/
.vscode/

models/
*.h5
*.pth
*.model
*.sav

.ipynb_checkpoints/

__pycache__/
*.py[cod]
*.egg-info/
*.log
venv/
.env/

.DS_Store
Thumbs.db
.vscode/
.idea/

